<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Meetup</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400,700" rel="stylesheet">
</head>
<body>
    <header class="header row">
        <div class="input-search">
            <input type="text" class="map__input">
            <button class="btn-search">SEARCH</button>
        </div>
        <div class="icon btn-bookmark">
            <svg class="icon-like">
                <use xlink:href="/assets/images/sprite.svg#icon-heart"></use>
            </svg>
        </div>
        <span class="bookmark-count inactive">7</span>
    </header>

    <div class="section-map row">
        <div id="map"></div>
        <ul class="section-map__bookmark inactive">
            <li class="section-map__book-clip">
                <img class="section-map__book-clip-img" src="https://secure.meetupstatic.com/photos/event/3/f/7/f/highres_474316255.jpeg">
                <div class="book-clip-info">
                    <div class="section-map__event-name">Upscale International AfterWork Happy Hour 6-11 PM! 🍺🍷🍹 * FREE Admission!</div>
                    <div class="section-map__book-clip-date">2019-01-06</div>
                    <div class="btn-move">move to this place<span>&rarr;</span></div>
                </div>
                <div class="icon btn-bookmark-delete">
                    <svg class="icon-bin">
                        <use xlink:href="/assets/images/sprite.svg#icon-bin"></use>
                    </svg>
                </div>
            </li>
        </ul>
    </div>

    <section class="content row">
        <div class="section-city">
            <h1 class="city-name">City Name</h1>
            <div class="city-member">Member</div>
            <div class="local-time">Local Time</div>
        </div>

        <div class="section-list">
            <ul class="section-list__container"></ul>
        </div>
    </section>

    <footer class="row"><p>© 2019 Vanilla MeetUp - All Rights Reserved</p></footer>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBH2-HGPGrJadRBzQ3roCVFHYT1ODufKI8&libraries=places"></script>
</body>
</html>
