// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
$color-black:#171a1e;

$color-grey-light-1 :  #E0DDD9;
$color-grey-light-2 : #B9BCC1;

html, body {
    box-sizing: border-box;
    background-color: white;
}
*, *:before, *:after {
    box-sizing: inherit;
    font-family: 'Lato', 'Arial', sans-serif;
}

body {
    padding: 10px 0px;
    position: relative;
}

h1 {
    text-align: center;
    font-size: 22px;
}

.row {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.header {
    height: 80px;
    background-color: rgba($color-grey-light-1, .38);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;

    .company-name {
        display: flex;
        flex-direction: column;
        letter-spacing: 1.3px;
        position: absolute;
        left: 47px;
        top: 20px;
        font-size: 15px;
        color: $color-black;
    }

    .name-label-1 {
        display: block;
        margin-bottom: 3px;
    }

    .name-label-2 {
        display: block;
        margin-left: 17px;
    }

    .input-search {
        position: relative;
    }

    .map__input {
        width: 370px;
        height: 50px;
        border: none;
        border-radius: 100px;
        padding: 10px 30px;
        font-size: 17px;
        font-weight: 300;
        letter-spacing: 1px;

        &:focus {
            outline: none;
        }
    }

    .btn-search {
        width: 115px;
        height: 50px;
        position: absolute;
        border: none;
        border-radius: 100px;
        right: 0px;
        top: 0px;
        background-color: rgba(skyblue, .5);
        font-size: 14px;
        color: #fff;
        font-weight: 700;
        border: none;
        cursor: pointer;
        transition: transform .3s;

        &:hover {
            transform: scale(1.05);
        }

        &:focus {
            outline: none;
        }
    }

    .bookmark-count {
        border-radius: 50%;
        display: block;
        width: 25px;
        height: 25px;
        text-align: center;
        color: #fff;
        padding-top: 2px;
        padding-left: 2px;
        position: absolute;
        top: 37px;
        right: 12px;
        background-color: rgba(#fff, .9);
        color: rgba(#F59A83, .8);
        font-weight: 700;
        font-size: 18px;
        user-select: none;
        cursor: pointer;
    }
}

.section-map {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    #map {
        height: 500px;
        width: 100%;
        margin: 0 auto;
    }

    &__bookmark {
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        width: 420px;
        height: 500px;
        background-color: rgba(#fff, .7);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1000;
        margin: 0;
        overflow: scroll;
        transition: all .4s;
        transform: translateX(0px);
        opacity: 1;
    }

    &__bookmark--list {
        margin: 0;
        margin-bottom: 10px;
        list-style: none;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        transition: all .2s;

        &:hover :last-child {
            transform: translateX(0px);
            opacity: 1;
        }

        &:hover {
            transform: scale(1.01);
            box-shadow: 2px 2px 10px 0 rgba(46, 61, 73, 0.1);
        }

        .bookmark--info {
            display: flex;
            flex-direction: column;
            padding-left: 10px;

            .btn-move {
                color: rgba(#F59A83, 1);
                text-align: left;
                margin-top: 5px;
                font-size: 13px;
                cursor: pointer;

                & span {
                    margin-left: 3px;
                    transition: margin-left .3s;
                    color: rgba(#F59A83, 1)
                }
            
                &:hover {
                    
                    span {
                        margin-left: 8px;
                    }
                }
            }
        }
    }

    &__bookmark--img {
        width: 110px;
        height: 100px;
        border-radius: 3px;
    }

    &__bookmark--date {
        text-align: left;
        margin-top: 5px;
        font-size: 13px;
        letter-spacing: 1px;
    }

    &__event-name {
        width: 230px;
        height: 40px;
        line-height: 20px;
        display: inline-block;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 15px;
        color: $color-black;
        text-align: left;
        letter-spacing: 1px;
    }
}

.content {
    width: 1140px;
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}

.section-city {
    width: 300px;
    height: 600px;
    padding: 10px 20px;
    border-right: 1px solid $color-grey-light-1;

    &__img {
        width: 270px;
        border-radius: 7px;
    }

    &__city-country,
    &__city-member,
    &__local-time {
        font-size: 17px;
        margin-top: 10px;
        letter-spacing: .6px;
    }
}

.section-topic {
    width: 100%;
    height: 230px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    background-color: rgba($color-grey-light-1, .38);

    &__wrapper {
        display: flex;
        flex-direction: row;
        height: 230px;
        margin: 0;
        align-items: center;
        padding-left: 20px;
        position: absolute;
        user-select: none;
        cursor: grab;

        &--topic {
            list-style: none;
            margin-right: 20px;
            position: relative;
            text-align: center;
        }
    }

    &__img {
        width: 250px;
        height: 170px;
        border-radius: 7px;
        background-size: cover;
        transition: all .2s;
    }

    &__name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -70%);
        color: #ffffff;
        font-weight: 700;
        letter-spacing: 1px;
        width: 200px;
        
    }
}

.section-list {
    height: 600px;
    overflow: scroll;

    &__container {
        padding: 0px;
        padding-left: 170px;
        width: 840px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__event-info {
        display: flex;
    }

    &__host-info {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 10px;
        text-align: center;
        padding-top: 5px;
        width: 90px;
    }

    &__host-img {
        width: 55px;
        height: 55px;
        border-radius: 100px;
        margin-bottom: 10px;
        box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
        background-color: #F59A83;
    }

    &__host-name {
        font-size: 13px;
        margin-bottom: 5px;
        display: inline;
    }

    &__created {
        font-size: 13px;
        color: $color-grey-light-2;
    }

    &__event-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 450px;
        height: 177px;
        padding: 20px 20px; 
        box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
        margin-bottom: 20px;
        border-radius: 7px;
        position: relative;
        color: rgba($color-black, .8);
        font-size: 15px;
        transition: all .3s;
        cursor: pointer;

        & > *:not(:last-child) {
            margin-bottom: 5px;
        }

        &:hover {
            box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
        }
    }

    &__event-name,
    &__group-name {
        width: 380px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__event-name {
        font-weight: 700;
        margin-bottom: 5px;
    }

    &__group-name {
        margin-bottom: 17px !important;
    }

    &__date,
    &__time,
    &__rsvp  {
        color: $color-grey-light-2;
    }
}

.icon-heart,
.icon-like {
    fill: transparent;
    stroke: #F59A83;
    stroke-width: 2px;

    cursor: pointer;

    &:hover {
        animation: bounce .6s infinite;
    }
}

.icon-heart {
    position: absolute;
    top: 7px;
    right: 10px;
    transition: fill .3s;
    width: 30px;
    height: 30px;
}

.selected {
    fill: #F59A83;
}

.icon-like {
    width: 45px;
    height: 45px;
    fill: #F59A83;
    position: absolute;
    right: 17px;
    top: 20px;
}

.icon-bin {
    width: 45px;
    height: 45px;
    cursor: pointer;
    transform: translateX(20px);
    opacity: 0;
    transition: all .3s;
    fill: $color-grey-light-2;
    fill: $color-black;
}

.icon-cross {
    width: 30px;
    height: 30px;
    position: absolute;
    right: -7px;
    top: -7px;
    fill: rgba($color-black, .8);
    cursor: pointer;
}

.comment-wrapper {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: fill .2s;

    span {
        transform: translateY(-3px);
        color: rgba($color-grey-light-2, .8);
    }

    &:hover > * {
        fill: $color-black;
        color: $color-black;
    }
}

.icon-comment {
    width: 30px;
    height: 30px;
    fill: rgba($color-grey-light-2, .6);
    transition: fill .2s;
}

footer {
    text-align: center;
    border-top: 1px solid $color-grey-light-1;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes bounce {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.05)
    }

    100% {
        transform: scale(1)
    }
}

.inactive {
    display: none !important;
}

.bookmark-inactive {
    visibility: hidden;
    opacity: 0;
    transform: translateX(200px);
}

.side-bar {
    width: 360px;
    height: 770px;
    background-color: skyblue;
    position: fixed;
    top: 19px;
    left: 0;
    background-color: rgba($color-grey-light-2, .7 );
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 1;
    transform: translateX(0px);
    transition: all .3s;

    &__group-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 5px;

        &--img {
            width: 340px;
            height: 200px;
            border-radius: 3px;
        }

        &--short-description {
            display: block;
            width: 340px;
            padding: 5px 14px;
            height: 70px;
            line-height: 20px;
            font-size: 15px;
            white-space: normal;
            text-overflow: ellipsis;
            overflow: hidden;
            color: $color-black;
            text-align: justify;
            background: rgba(#fff, .7);
            border-radius: 5px;
        }
    }

    &__album {
        display: flex;
        flex-direction: row;
        width: 340px;
        border-radius: 5px;
        overflow: hidden;

        &--photo {
            width: 33.333%;
            height: 100px;
        }
    }

    &__comment {
        padding: 10px 5px 5px 5px;
        overflow: scroll;
        height: 270px;

        &--list {
            display: flex;
            flex-direction: row;
            align-content: center;
        }

        .comment-user {
            font-size: 12px;
            text-align: center;
            padding-left: 10px;
            height: 70px;
            margin-right: 15px;
            width: 80px;
        }

        .user-photo {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        &--comment {
            background: rgba(#fff, .7);
            margin-top: 5px;
            padding: 2px 14px;
            border-radius: 5px;
            width: 248px;
            height: 62px;
            line-height: 20px;
            white-space: normal;
            overflow: hidden;
            font-size: 13px;
        }
    }
}

.sidebar-inactive {
    transform: translateX(-200px);
    opacity: 0;
}
